$font-family: "Roboto Slab", serif;
$white: #fff;
$black: #000;
$primary-color: #25446b;
$secondary-color: #643a98;
$tamarillo: #9b2318;
$white: #fff;
$spindle: #b1cae3;
$border-color: #25446b;
$link-color: #9b2318;
$button-bg: #304e75;
$sidebar-bg: #d7d7d7;
$link-blue-color: #2b52cc;
$light-gray: #f4f4f4;
$iron-color: #dadde1;
$porcelain: #f5f6f7;
$shakespeare:#4CB3D4;
$polar: #eef9fc;
