@import "../variables/colors";

.internal-main-nav {
  margin-left: 280px;
  box-shadow: 0 0.46875rem 6px rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  padding: 15px;
  .logo {
    &__image {
      width: 180px;
    }
    &:focus {
      background-color: transparent;
    }
  }

  .nav-container  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-left: 280px;
    &.internal-page-header {
      justify-content: space-between;
      padding: 0;
    }
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;

      gap: 10px;
      margin-bottom: 0;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color:  $primary-color;
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: 0.6px;
          line-height: 26px;
          border: 1px solid  $primary-color;
          background-color: $porcelain;
          &:hover,
          &:focus {
            background-color: $link-color;
            text-decoration: none;
            color: $white;
          }
          &.active {
            background-color: $link-color;
            outline: 2px dotted;
            outline-offset: 2px;
            outline-color: $link-color;
            color: $white;
          }
        }
      }
    }
  }
}
